.logo {
    position: relative;
    top: 8vh;
    max-width: 30vw;
    max-height: 15vh;
}

.div1 {
    background: yellow;
}

.search {
    position: relative;
    top: 2vh;
}

#searchbar {
    position: relative;
    top: 2vh;
    width: 40vh;
}

.searchbar {
    position: relative;
    top: 8vh;
    height: 5vw;
    width: 35vw;
    background-color: #e6e6e6e8;
}

#button1 {
    position: relative;
    top: 5.2vh;
    width: 125px;
}

#button2 {
    position: relative;
    top: 5.2vh;
    width: 135px;
}

#copyright {
    position: relative;
    top: 8vh;
    font-size: 13px;
}