  
  .hidden {
    display: none;
  }


  .clickable {
    cursor: pointer
  }

  .closebutton {
    position: absolute;
    cursor: pointer;
    top: 6px;
    right: 6px;
  }
  
  .minbutton {
    position: absolute;
    cursor: pointer;
    top: 6px;
    right: 40px;
  }  

  #id1 {
    position: absolute;
    z-index: 9;
  }

  #id2 {
    position: absolute;
    z-index: 9;
  }

  #id3 {
    display: none;
  }  

  #id1header {
    cursor: move;
    padding: 0px;
    z-index: 10;
    height: 22px;
  }
 
  #id2header {
    cursor: move;
    padding: 0px;
    z-index: 10;
  }  

  #paragraph {
    position: absolute;
    z-index: auto;
    top: 28px;
    left: 8px;
    color: black;
    font-family: 'Fixed Sys';
    -webkit-font-smoothing: none;
  }

  #startbutton {
    cursor: pointer;
    position: absolute;
    bottom:2px;
    left:2px;
    z-index:1;
  }

  #taskbar {
    position: absolute;
    left: 0px;
    bottom: 0px;
  }

  #neocities {
    cursor: pointer;       
    position: absolute;
    bottom: 23px;
    left: 26px;
    z-index: 4;
  }

  #startmenu { 
    position: absolute;
    bottom: 20px;
    left: 2px;
    z-index: 3;
  }

  #desktop { 
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
  }

  #mycomputer {
    cursor: pointer;
    position: absolute;
    top: 2px;
    left:4px;
    z-index:0;
  }
  
  #padico1 {
    position: absolute;
    top: 677px;
    left: 20px;
  }

  #padico2 {
    position: absolute;
    top: 754px;
    left: 20px;
  } 

  #clock {
    position: absolute;
    font-family: "MS Sans Serif 1";
    -webkit-font-smoothing: none;
    font-size: 11px;
    z-index: 11;
    top: 975px;
    right: 13px;
  } 

  .blogwindow {
    background-image: linear-gradient(to right, #000080, #1084D0);
    margin: 0px;
    padding: 0px;
  }

  /* custom fonts */
  @font-face {
  font-family: "MS Sans Serif 1";
  src: url("fonts/ms-sans-serif-1.ttf") format("truetype");
  }

  @font-face {
  font-family: "Fixed Sys";
  src: url("fonts/FSEX300.ttf") format("truetype");
  }  

  /* taskbar ids */
  #taskbarF{
    position: absolute;
    bottom: 0vh;
    left: 0vh;
  }

  #taskbarM{
    position: absolute;
    display: inline-block;
    bottom: 0vh;
    left: 6.5vh;
    background-repeat: repeat-x;
  }

  #taskbarB{
    position: absolute;
    bottom: 0vh;
    right: 0vh;
  }

  .icon{
    cursor: pointer;
  }

  #id2 {
    display: none;
  }

  .item {
    max-width: 44px;
    display: grid;
    max-width: 80px;
    gap: 4px;
    text-align: center;
    padding: 4px;
    border: 1px solid gray;
    cursor: pointer;
    * {
      pointer-events: none;
      /* ensure the little details aren't selected */
    }
    .icon {
      max-width: 54px;
      justify-self: center;
    }
    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
    
    &.default {
      
    }
    
    &[data-status="selected"] {
      background-color: lime;
      /* just for the example */
      
      /* *** Swap out the background image with a sprite vs a img src */
    }
    
    &:focus {
      /* color: green; */
      /* you probably want to sync this up too */
      /* for keyboard navigation */
    }
    
    &[data-status="idle"] {
      background-color: wheat;	
    }
  }